@use '../variables.scss';
@import "../mixins.scss";

.nav-link {
  text-decoration: none;
  color: variables.$accent-color;
}

nav {
  position: fixed;
  padding: 1em;
  height: 100%;
  width: 300px;
  background-color: variables.$primary-color;
  color: variables.$accent-color;

  .logo {
    width: fit-content;
    padding: .75em;
    border: solid 1px;
    border-radius: 1em;
    margin-bottom: .5em;
    font-size: 2.5em;
  }
  
  ul {
    list-style-type: none;
    
    .register-bar {
      font-size: 1em;
      display: flex;
      justify-content: space-around;

      button {
        color: variables.$primary-color;
        background-color: variables.$accent-color;
      }
    }

    .register-bar:hover {
      opacity: 1;
    }
    
    li {
      padding: .5em .5em;
      font-size: 1.5em;
      list-style-type: none;
    }
    
    li:hover {
      opacity: .7;
    }

    .selected {
      font-size: 1.5em;
    }

  }

}