@use '../variables.scss';

nav {
  padding: 1em;
  height: 100%;
  width: fit-content;
  background-color: variables.$primary-color;
  color: white;

  .logo {
    width: fit-content;
    padding: .75em;
    border: solid 1px;
    border-radius: 1em;
    margin-bottom: .5em;
    font-size: 2.5em;
  }

  ul {
    list-style-type: none;

    .register-bar {
      font-size: 1em;
      display: flex;
      justify-content: space-around;

      .nav-button {
        font-weight: bold;
        color: variables.$primary-color;
        background-color: white;
        padding: .7em 1em;
        border-radius: 4px;
      }

      .nav-button:hover {
        opacity: .7;
      }
    }

    .register-bar:hover {
      opacity: 1;
    }
    
    li {
      padding: .5em .5em;
      font-size: 1.5em;
      list-style-type: none;
      text-decoration: none;
      
      .nav-item {
        color: white;
        text-decoration: none;
      }
    }

    li:hover {
      opacity: .7;
    }

    .selected {
      font-size: 1.5em;
    }

  }

}