@use '../variables.scss';
@import "../mixins.scss";

.nav-link {
  text-decoration: none;
  color: variables.$accent-color;
}

nav {
  position: fixed;
  padding: 1em;
  height: 100%;
  width: 300px;
  background-color: variables.$primary-color;
  color: variables.$accent-color;

  h1 {
    width: fit-content;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    padding: .75em;
    font-size: 2.5em;
    font-family:'Raleway', sans-serif;

    .logo-image {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: .25em;
      font-size: 1.5em;
    }
  }
  
  ul {
    list-style-type: none;
    
    .register-bar {
      font-size: 1em;
      display: flex;
      justify-content: space-around;

      button {
        color: variables.$primary-color;
        background-color: variables.$accent-color;
      }
    }

    .register-bar:hover {
      opacity: 1;
    }
    
    li {
      padding: .5em .5em;
      font-size: 1.5em;
      list-style-type: none;
    }
    
    li:hover {
      opacity: .7;
    }

    .selected {
      font-size: 1.5em;
    }

  }

}