.ride-container {
  width: 500px;
  height: 175px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  box-shadow: 2px 2px 4px rgb(59, 59, 59);
  background-color: rgb(255, 254, 242);
  background-image: url("https://www.transparenttextures.com/patterns/cross-scratches.png");

  header {
    display: flex;
    justify-content: space-between;
    
    .avatar {
      width: 75px;
      height: 75px;
      border-radius: 100px;
      box-shadow: 2px 2px 3px rgb(78, 78, 78);
    }
    
    .price {
      font-size: 2em;
    }
  }
    
  footer {
    display: flex;
    justify-content: space-between;
  }
}