@use "../variables.scss";
@import "../mixins.scss";

.ride-container {
  @include page-card;
  width: 500px;
  height: 165px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;

  header {
    display: flex;
    justify-content: space-between;
    
    .avatar {
      width: 75px;
      height: 75px;
      border-radius: 100px;
      box-shadow: 2px 2px 3px rgb(78, 78, 78);
    }
    
    .price {
      font-size: 2.5em;
    }
  }
    
  footer {
    display: flex;
    justify-content: space-between;
    padding-top: .5em;
    border-top: solid 1px variables.$primary-color;
  }
}

.ride-container:hover {
  transform: translateY(-2px);
}

.ride-container:active {
  transform: translateY(0);
}