main {
  display: flex;
  height: 100%;

}

.listings-container {
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.page-container {
  background-image: url(./assets/background.jpg);
  width: 100%;
  padding: 2em;

  form {
    width: 200px;
  }
}