@use "./variables.scss";
@import "./mixins.scss";

main {
  display: flex;
  height: 100%;

}

.listings-container {
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.page-container {
  margin-left: 330px;
  height: fit-content;
  width: 100%;
  padding: 3rem;
}

.form-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header {
  @include page-card;
  background-color: variables.$primary-color;
  color: variables.$accent-color;
  padding: 2em;
  max-width: 550px;
  margin-bottom: 1.5rem;

  h1 {
    font-size: 3rem;
    margin: .25em auto;
  }

  button {
    font-size: 1.25rem;
    background-color: variables.$accent-color;
    color: variables.$primary-color;
  }
}

.hidden {
  display: none;
}