@use "./variables.scss";
@import "./mixins.scss";

main {
  display: flex;
  height: 100%;

}

.listings-container {
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.page-container {
  background-image: url("../assets/background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2em;
}

.hidden {
  display: none;
}