@use "./variables.scss";
@import "./mixins.scss";

main {
  display: flex;
  height: 100%;

}

.listings-container {
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.page-container {
  margin-left: 330px;
  width: 100%;
  padding: 2em;
}

.hidden {
  display: none;
}