@use "./variables.scss";

@mixin reset {
  margin: 0;
  padding: 0;
  border-style: none;
}

@mixin button-styling {
  @include reset;

  button {
    width: fit-content;
    padding: .6em .9em;
    margin: .5em;
    border: none;
    transition: opacity .1s;
    font-weight: bold;
    color: variables.$accent-color;
    background-color: variables.$primary-color;
    border-radius: .2em;
  }

  button:hover {
    opacity: 0.8;
  }

  button:active {
    opacity: 0.6;
  }

}

@mixin page-card {
  box-shadow: 2px 2px 4px rgb(59, 59, 59);
  border-radius: 5px;
}

@mixin icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 2.5em;
  border-radius: 5em;
  margin-right: .75em;
  color: variables.$accent-color;
  background-color: variables.$primary-color;
}